In [2]:
import pandas as pd 

Customers = pd.read_csv("D:/Microsoft Data Engineer/Graduation Project/Database/uncleaned_customers.csv")

invoices = pd.read_csv("D:/Microsoft Data Engineer/Graduation Project/Database/uncleaned_invoices.csv")

invoice_items = pd.read_csv("D:/Microsoft Data Engineer/Graduation Project/Database/uncleaned_invoice_items.csv")

products = pd.read_csv("D:/Microsoft Data Engineer/Graduation Project/Database/uncleaned_products.csv")

In [3]:
Customers.head()

   CustomerID         Country
0     17850.0  United Kingdom
1     13047.0  United Kingdom
2     12583.0          France
3     13748.0  United Kingdom
4     15100.0  United Kingdom

In [4]:
invoices.head()

  InvoiceNo  CustomerID     InvoiceDate
0    536365     17850.0  12/1/2010 8:26
1    536366     17850.0  12/1/2010 8:28
2    536367     13047.0  12/1/2010 8:34
3    536368     13047.0  12/1/2010 8:34
4    536369     13047.0  12/1/2010 8:35

In [5]:
invoice_items.head()

  InvoiceNo StockCode  Quantity  Total
0    536365    85123A         6  15.30
1    536365     71053         6  20.34
2    536365    84406B         8  22.00
3    536365    84029G         6  20.34
4    536365    84029E         6  20.34

In [6]:
products.head()

  StockCode                          Description  UnitPrice
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1     71053                  WHITE METAL LANTERN       3.39
2    84406B       CREAM CUPID HEARTS COAT HANGER       2.75
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4    84029E       RED WOOLLY HOTTIE WHITE HEART.       3.39

In [8]:
print(Customers.isnull().sum())

Customers_clean = Customers.dropna()

print(Customers_clean.isnull().sum())

CustomerID    1
Country       0
dtype: int64
CustomerID    0
Country       0
dtype: int64

In [9]:
print(invoices.isnull().sum())

invoices_clean = invoices.dropna()

print(invoices_clean.isnull().sum())

InvoiceNo         0
CustomerID     3710
InvoiceDate       0
dtype: int64
InvoiceNo      0
CustomerID     0
InvoiceDate    0
dtype: int64

In [10]:
print(invoice_items.isnull().sum())

invoice_items_clean = invoice_items.dropna()

print(invoice_items_clean.isnull().sum())

InvoiceNo    0
StockCode    0
Quantity     0
Total        0
dtype: int64
InvoiceNo    0
StockCode    0
Quantity     0
Total        0
dtype: int64

In [11]:
print(products.isnull().sum())

products_clean = products.dropna()

print(products_clean.isnull().sum())

StockCode        0
Description    176
UnitPrice        0
dtype: int64
StockCode      0
Description    0
UnitPrice      0
dtype: int64

In [12]:
#check for duplicates
print(Customers_clean.duplicated().sum())

print(invoices_clean.duplicated().sum())

print(invoice_items_clean.duplicated().sum())

print(products_clean.duplicated().sum())

0
0
5271
0

In [13]:
#remove duplicates
invoice_items_clean = invoice_items_clean.drop_duplicates()

In [14]:
print(invoice_items_clean.duplicated().sum())

0

In [17]:
#check for negative Quantity in invoice_items
print(invoice_items_clean[invoice_items_clean['Quantity'] < 0])

#remove negative Quantity in invoice_items
invoice_items_clean = invoice_items_clean[invoice_items_clean['Quantity'] > 0]

print(invoice_items_clean[invoice_items_clean['Quantity'] < 0])

       InvoiceNo StockCode  Quantity   Total
141      C536379         D        -1  -27.50
154      C536383    35004C        -1   -4.65
235      C536391     22556       -12  -19.80
236      C536391     21984       -24   -6.96
237      C536391     21983       -24   -6.96
...          ...       ...       ...     ...
540449   C581490     23144       -11   -9.13
541541   C581499         M        -1 -224.69
541715   C581568     21258        -5  -54.75
541716   C581569     84978        -1   -1.25
541717   C581569     20979        -5   -6.25

[10587 rows x 4 columns]
Empty DataFrame
Columns: [InvoiceNo, StockCode, Quantity, Total]
Index: []

In [20]:
# Explore the unique stock codes to identify invalid ones
print(products_clean['StockCode'].unique())

# Remove invalid stock codes
products_clean = products_clean[products_clean['StockCode'].str.isnumeric()]

['85123A' '71053' '84406B' ... '90214U' '47591b' '23843']
['71053' '22752' '21730' ... '23609' '23617' '23843']

In [23]:
# Convert InvoiceDate to datetime format
invoices_clean.loc[:, 'InvoiceDate'] = pd.to_datetime(invoices_clean['InvoiceDate'])

# Ensure CustomerID is a string
Customers_clean.loc[:, 'CustomerID'] = Customers_clean['CustomerID'].astype(str)

In [ ]:
# Save the cleaned data
Customers_clean.to_csv("D:/Microsoft Data Engineer/Graduation Project/Database/customers_clean.csv", index=False)

invoices_clean.to_csv("D:/Microsoft Data Engineer/Graduation Project/Database/invoices_clean.csv", index=False)

invoice_items_clean.to_csv("D:/Microsoft Data Engineer/Graduation Project/Database/invoice_items_clean.csv", index=False)

products_clean.to_csv("D:/Microsoft Data Engineer/Graduation Project/Database/products_clean.csv", index=False)